/* Вставь это в index.css */
.mapboxgl-ctrl-bottom-right {
    bottom: 120px !important; /* Поднимаем выше кнопок терминала */
    right: 15px !important;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.mapboxgl-ctrl-group {
    background: rgba(10, 10, 10, 0.8) !important;
    border: 1px solid #39FF14 !important; /* Твой фирменный зеленый */
    backdrop-filter: blur(8px);
}
